In [1]:
import pandas as pd
import numpy as np

In [2]:
salary = pd.read_csv('Salaries.csv')

/var/folders/32/jqjwx5p51sqc0gg7mgcsrhvr0000gn/T/ipykernel_78241/3692514942.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  salary = pd.read_csv('Salaries.csv')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

# 1) Show the first five rows of the dataset.

# 2) Calculate the average of BasePay series.

# 3) What is the highest amount of OvertimePay and OtherPay

# 4) What is the name of lowest paid person including Benefits.

# 5) What is the average BasePay of all employee per year(2011-2014)

# 6) How many people have Chief word in their JobTitle (optional)

# 7) What are top 5 most common jobs?

# 8) How many unique job titles are there?

# 9) Show last five rows of the dataset?

# 10) How many job titles were represented by only one person in 2013? (example : JobTitles with only one occurence in 2013) (optional)